@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700;800;900&display=swap');

* {
    width: 100%;
    height: auto;
}

.mainPage .opps h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-style: italic;
    color: #2C3568;
    margin: 0%;
    margin-left: 150px;
    margin-top: 150px;
}

.mainPage .opps p{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #2C3568;
    margin-left: 160px;
    margin-top: 0%;
}

.searchImg {
    margin-top: 80px;
    margin-right: 10px;
}

.btn button{
    margin: 2%;
    margin-left: 150px;
    background-color: #2C3568;
    color: white;
}

.btn button:hover{
    background-color: #EB4660;
    color: white;
}


