@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap');

:root {
    --background: #f2f2f2; /*white*/
    --background-two: #f2f2f2; /*cream*/
    --text-primary: #000; /*black*/
    --text-secondary: #424242; /*white*/
    --primary: #ff5d75; /*pink*/
    --secondary: #2C3568; /*dark blue*/
    --icon: #1C2835; 
    --nav-shadow: rgb(185, 184, 184);
    --nav2-logo: #1C2835;
    --input-field: white;
    --paper: white;
    --textfield: #f2f2f2;
    --divider: #d2d2d2;

  }
  
  [data-theme='dark'] {
    --background: #1b1b1b; /*dark blue*/
    --background-two: #3f3f3f; /*darker blue*/
    --text-primary: white; /*white*/
    --text-secondary: #9b9b9b; /*white*/
    --primary: #1C2835; /*dark blue*/
    --secondary: #16202A; /*darker blue*/
    --icon: #f2f2f2; 
    --nav-shadow: #7b7b7b; /*white*/
    --nav2-logo: #ff5d75;
    --input-field: #333333;
    --paper: #343434;
    --textfield: #636363;
    --divider: #636363;

  }

.user-details {
    text-align: left;
    margin-left: 130px;
    height: 60px;
}
.title-head>span {
    font-family: "montserrat";
    color: #2C3568;
    font-size: 40px;
    font-weight: bolder;
}

.sub-head>span {
    font-family: "poppins";
    color: #EB4660;
    font-size: 30px;
    font-weight: bolder;
}

.name-head>span {
    font-family: "montserrat";
    color: #2C3568;
    font-size: 60px;
    font-weight: bolder;
}

.username-head>span {
    font-family: "poppins";
    color: #EB4660;
    font-size: 40px;
}
.bio-head>span {
    font-family: "poppins";
    color: #2C3568;
    font-size: 20px;
    font-weight: bold;
}
.caption-content {
    font-size: x-large;
}
