@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700;800;900&display=swap');

.reg #join{
  line-height: 50px;
  font-family: "montserrat";
  background: -webkit-linear-gradient(#2c3568, #eb4660);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 50px;
  margin-left: 40px;
  padding-top: 120px;
}

.MuiInputLabel-root {
  font-family: "montserrat" !important;
}

input{
  font-family: "poppins" !important;
}


.reg #invite{
  font-family: "poppins";
  color: #1A212E;
  font-weight: 30;
  margin-top: 10px;
  font-size: 17px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.reg{
  background-color: #EEE8DB;
  background-image: url("../images/bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  align-content: center;
}

.reg1{
  width: 70%;
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 90px;
}

.reg-form{
  background-color: white;
  display: inline-block;
  text-align: center;
  width: 50%;
}

.reg-form img{
  width: 15%; 
  height: 15%;
  object-fit: scale-down;
  margin-top: 20px;
} 

.page-title{
  font-family: "montserrat";
  color: #1A212E;
  font-weight: bolder;
  font-size: 35px;
  padding-bottom: 30px;
  margin-top: 5;
}

.reg-form .field-one{
  background-color: white;
  width: 34.3%;
  border-radius: 1;
  margin-top: 1;
}

.reg-form .field-two{
  background-color: white;
  width: 70%;
  border-radius: 1;
  margin-top: 8px;
}

.btn button{
  height: 50;
  width: 35%;
  border-radius: 30px;
  color: white;
  font-family: "montserrat";
  font-weight: bold;
  margin-top: 30px; 
  font-size: 20px; 
  margin-bottom: 20px;
}

.btn button:disabled{
  background-color: #cfd4f1;
}

.helperText{
  color: red;
}

.reg-form .img-btn{
  width: 300px; 
  margin-top: 15px; 
  background-color: #B70760; 
  color: white;
  border-radius: 10px;
}

.reg-form .img-btn:hover{
  background-color: #9c0b53;
}

@media only screen and (max-width: 650px) {
    .reg1{
      display: none;
     }
}